@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 54.9 96.7% 88%;
      --foreground: 0 0% 3.9%;
      --card: 54.9 96.7% 88%;
      --card-foreground: 0 0% 3.9%;
      --popover: 210 40% 98%;
      --popover-foreground: 0 0% 3.9%;
      --primary: 47.9 95.8% 53.1%;
      --primary-foreground: 210 20% 98%;
      --secondary: 220 14.3% 95.9%;
      --secondary-foreground: 220.9 39.3% 11%;
      --muted: 220 14.3% 95.9%;
      --muted-foreground: 220 8.9% 46.1%;
      --accent: 47.9 95.8 53.1%;
      --accent-foreground: 220.9 39.3% 11%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 20% 98%;
      --border: 47.9 95.8 53.1;
      --input: 215 20.2% 65.1%;
      --ring: 212.7 26.8% 83.9%;
      --radius: 0.5rem;
      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
    }

    .dark {
      --background: 217.2 32.6% 17.5%;
      --foreground: 214.3 31.8% 91.4%;
      --card: 217.2 32.6% 17.5%;
      --card-foreground: 214.3 31.8% 91.4%;
      --popover: 217.2 32.6% 17.5%;
      --popover-foreground: 210 20% 98%;
      --primary: 47.9 95.8% 53.1%;
      --primary-foreground: 217.2 32.6% 17.5%;
      --secondary: 215 27.9% 16.9%;
      --secondary-foreground: 210 20% 98%;
      --muted: 214.3 31.8% 91.4%;
      --muted-foreground: 217.9 10.6% 64.9%;
      --accent: 214.3 31.8% 91.4%;
      --accent-foreground: 217.2 32.6% 17.5%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;
      --border: 47.9 95.8% 53.1%;
      --input: 212.7 26.8% 83.9%;
      --ring: 47.9 95.8% 53.1%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }